@import "./tailwind.css";
@import "./tyopgraphy.css";
@import "./notification.css";
@import "./card.css";
@import "./input.css";
@import "./utility.css";

html,
body {
    height: 100%;
}

body {
    @apply bg-slate-800 p-0 m-0 overflow-hidden
}

body::before {
    @apply absolute w-full h-full opacity-5 bg-center bg-repeat min-h-full;
    z-index: -1;
    content: "";
    background-image: url("/static/background.png");
    background-size: 128px;
}

.application-container {
    @apply h-full relative overflow-y-scroll overflow-x-hidden;
}
