input,
input:hover,
input:focus,
button,
button:hover,
button:focus,
.btn,
.btn:hover,
.btn:focus {
    @apply outline-none shadow-none;
}

input {
    @apply w-full px-2 py-1 bg-violet-900 rounded-lg border-2;
    @apply border-2 border-violet-900;
    @apply transition-all;
}

input:hover {
    @apply bg-violet-800 border-violet-800;
}

input:focus,
button:focus,
.btn:focus {
    @apply bg-violet-900 border-violet-500;
}

button,
.btn {
    @apply transition-all px-2 py-1 bg-violet-500 rounded-lg;
}

button:hover,
.btn:hover {
    @apply bg-violet-400
}

button:active,
.btn:active {
    @apply bg-violet-300
}

.btn-slim {
    @apply py-0.5 px-2
}

.btn-gray {
    @apply bg-gray-500
}

.btn-gray:hover {
    @apply bg-gray-400
}

.btn-gray:active {
    @apply bg-gray-300
}

.btn-gray:focus {
    @apply bg-gray-500 border-gray-300
}

button:has(.tooltip), .tt-container {
    @apply relative
}

button .tooltip, .tt-container .tooltip {
    @apply absolute left-1/2 bottom-[125%] translate-x-[-50%];
    @apply rounded px-1 py-0.5 bg-slate-600;
    @apply text-sm text-center text-nowrap;
    @apply invisible opacity-0 transition-opacity;
}

button .tooltip:after,
.tt-container .tooltip:after {
    content: "";
    @apply absolute top-full left-[50%] translate-x-[-50%];
    @apply border-4 border-t-slate-600 border-r-transparent border-l-transparent border-b-transparent;
}

button:hover .tooltip,
.tt-container:hover .tooltip {
    @apply visible opacity-100
}

button:disabled {
    @apply opacity-50
}
